* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fontes */
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;

    /*  */
    
}

.container-pai {
    width: 200px;
    height: 200px;
    border: solid 1px #4c4c4d;
    /* FlexBox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-text {
    width: 160px;
    padding: 1px 3px;
    outline: None;
}

.container-button {
    width: 160px;
    padding: 5px 0;

    /* FlexBox */
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 77px;
    padding: 2px;
    border-radius: 2px;
    border: solid 1px #4c4c4d;
    cursor: pointer;
}

/* Configuração do Cabeçalho, Resultado e Rodapé */
.container-logo {
    display: flex;
    margin: 5px
}

.container-logo img {
    margin-right:10px;
}

.resultado{
    width: 160px;
    height: 80px;
    resize: none;
}

.rodape {
    text-align: center;
    color: #4c4c4d;
}